Django
psycopg2
djangorestframework
djangorestframework-simplejwt
uuid
django-environ
django-cors-headers
django-csp
django_redis
daphne
drf-yasg
factory-boy
pandas
django-filter
channels
channels_redis
opentelemetry-instrumentation-django
requests