# Configuration files
pgadmin_servers.json
rpc.json
discord.json
channel.json
config.json
.env

# Data files
last_match_example.json
match_history.csv

# Logs
logs
setup_logs

# Compressed files
*.tar.gz

# Certificates and keys
*.crt
*.pem
*.key

# Database-related
pgadmin_servers
docker-compose.yml