.infobet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  color: #fff;
  transition: background-color 0.3s;
}

.infobet.red {
  background-color: #DC3362;
  height: 100%;
  border-radius: 10px;
  border-color: #DC3362;
}

.infobet.blue {
  background-color: #5873ec;
  height: 100%;
  border-radius: 10px;
  border-color: #5873ec;
}

@media screen and (max-width: 1024px) {
  .infobet {
    font-size: 90%;
  }
}

